{% extends "base.html" %}

{% block content %}
  <h1>Range of Motion</h1>


  <div id="gauge-container" style="background-image: url(/media/range_of_motion.png);">
    <div id="gauge"></div>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script>
    // pull data out of Django context
    const minVal     = {{ left_min }};
    const maxVal     = {{ left_max }};
    const goodMin    = {{ right_min }};
    const goodMax    = {{ right_max }};
    const currentVal = {{ current }};

    const data = [{
      type: "indicator",
      mode: "gauge+number",
      // value: currentVal,
      gauge: {
        shape: "semi",
        borderwidth: 0,
        bordercolor: "rgba(0,0,0,0)",
        axis: {
          range: [0, 180],
          tickmode: "array",
          tickvals: [minVal, goodMin, goodMax, maxVal],
          tickformat: ".1f",
          ticksuffix: "°",
          tickfont: { size: 12 }
          },
        bar: { color: "crimson", line: { width: 0 } },
        steps: [
          { range: [minVal, goodMin], color: "gray", line: { width: 0 }, thickness: 0.5 },
          { range: [goodMin, goodMax], color: "lightgreen", line: { width: 0 }, thickness: 0.5  },
          { range: [goodMax, maxVal], color: "gray", line: { width: 0 }, thickness: 0.5  },
          { range: [maxVal, 180], color: "transparent", line: { width: 0 }, thickness: 0.5 }
        ],
        threshold: {
          value: currentVal,
          line: { width: 0 }
        }
      }
    }];

    const layout = { margin: { t:40, b:0 }, font: { size: 14 },
                     paper_bgcolor: "transparent", plot_bgcolor: "transparent" };
    Plotly.newPlot('gauge', data, layout, { displayModeBar: false });
  </script>
{% endblock %}
{% block styles %}
  <style>
    #gauge-container {
    background: no-repeat center/contain;
    background-position: 120px center;
    width: 600px; height: 600px;
    position: relative;
  }
  #gauge {
    position: absolute;
    top: -18px; left: 0;
    width: 140%; height: 80%;
  }

  </style>
{% endblock %}
